discord.py
asyncio
aiohttp
astroid
async-timeout
attrs
beautifulsoup4
certifi
chardet
colorama
idna
inflect
isort
lazy-object-proxy
lxml
mccabe
multidict
pip
pylint
requests
selenium
setuptools
soupsieve
toml
tqdm